@use "../variables.scss" as _v;

.btn {
  background-color: _v.$primary;
  border-radius: _v.$btn-radious;
  border: _v.$btn-border-width double _v.$base-color;
  color: _v.$base-color;
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.75rem;

  &.secondary {
    background-color: _v.$secondary;
    color: _v.$base-dark;
  }

  &.small {
    font-size: 0.7rem;
    padding: 3px 5px;
  }
}
